# Project-Specific

#Disable Nuget Packages by default - Enable Nuget Package Restore on the solution, instead of checking them in!
packages/

# Maven stuff
target/
*.releaseBackup
release.properties

# Visual Studio Ignores
[Bb]in/
obj/
.vs10x
*.vs10x
*.sln.cache
*.suo
*.user

# Visual Source Safe Ignores
*.vssscc
*.vspscc
*.scc

# Resharper Ignores
_ReSharper.*/
*.resharper.user
*.dotCover

# StyleCop cache ignores
*StyleCop.Cache

# Ignore TypeMock TestLint Cache
lint.db

# vim Ignore
*.swp

# kdiff3 Ignore
*.orig

# LATEX Ignores
*.tex.undo

# Misc Ignores
Thumbs.db
!libs/*/[Bb]in/

*.ncb
*.bak